<ul>
  @for (item of items(); track $index) {
    <li>
      <div class="icon">
        @if (item.icon) {
          <app-icon [type]="item.icon"></app-icon>
        }
      </div>
      <div class="item">
        @switch (item.type) {
          @case (ListItemType.REMINDER) {
            {{ item.value }}
          }
          @case (ListItemType.INPUT) {
            <input type="text" [placeholder]="item.value">
          }
          @case (ListItemType.LINK) {
            <app-inline-list-tile [name]="item.value"
                                  [count]="item.count ?? 0"></app-inline-list-tile>
          }
        }
      </div>
    </li>
  }
</ul>
