:host {
  display: block;
  padding-left: 10px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    .right {
      flex-grow: 1;
    }

    &:not(:last-child) .right {
      border-bottom: 1px solid var(--color-interaction);
    }
  }
}
