:host {
  display: block;

  li {
    a {
      display: flex;
      align-items: center;

      .icon {
        margin-inline: 10px;

        app-icon {
          width: 28px;
        }
      }

      .item {
        flex-grow: 1;
        margin-top: 14px;
        padding-right: 14px;
        padding-bottom: 14px;

        .linkItem {
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            display: flex;
            gap: 8px;

            .count {
              color: var(--color-font);
            }
          }
        }

        app-icon {
          width: 8px;
        }
      }

      &.clickable:hover {
        background-color: var(--color-interaction);
      }
    }

    &:not(:last-child) .item {
      border-bottom: 1px solid var(--color-interaction);
    }
  }
}
