:host {
  width: var(--icon-size, 24px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-background-color, transparent);

  img {
    width: calc(var(--icon-size, 24px) / 2);
    height: calc(var(--icon-size, 24px) / 2);
  }
}
