<app-header title="Neue Erinnerung" rightButtonText="Hinzufügen"
            (onRightButton)="add()"></app-header>
<app-container>
  <ul>
    <li>
      <input type="text" [ngModel]="title()" (ngModelChange)="title.set($event)"
             placeholder="Titel">
    </li>
    <li>
      <textarea [ngModel]="notes()" (ngModelChange)="notes.set($event)"
                placeholder="Notizen" rows="4"></textarea>
    </li>
  </ul>
</app-container>
<app-aggregate [aggregate]="detailsLink"></app-aggregate>
<app-container>
  <app-aggregate-item [item]="listSelector()"
                      (click)="openListSelection()"></app-aggregate-item>
</app-container>
