:host {
  font-weight: 700;

  app-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  app-list-icon {
    width: 30px;
  }

  .count {
    margin-right: 8px;
    font-size: 1.5rem;
  }

  .name {
    color: var(--color-font);
  }

  &:hover app-container {
    background-color: var(--color-interaction);
  }
}
