:host {
  font-weight: 700;

  app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-interaction-contrast);
    color: var(--color-white);
  }

  .count {
    margin-right: 8px;
    font-size: 1.5rem;
  }

  .name {
    color: var(--color-font);
  }
}
