:host {
  width: 100%;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  h2 {
    justify-self: center;
  }

  .left {
    justify-self: left;
  }

  .right {
    justify-self: right;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 8px;

    .action {
      display: flex;
      gap: 4px;
    }
  }
}
