<app-container>
  <ul>
    <li>
      <app-inline-toggle title="Datum" [icon]="dateToggleIcon"
                         [(status)]="dateToggle"></app-inline-toggle>
    </li>
    @if (dateToggle()) {
      <li>
        <div class="inline-item">
          <div class="wrapper">
            <input type="date" [(ngModel)]="date">
          </div>
        </div>
      </li>
    }
    <li>
      <app-inline-toggle title="Uhrzeit" [icon]="timeToggleIcon"
                         [(status)]="timeToggle"></app-inline-toggle>
    </li>
    @if (timeToggle()) {
      <li>
        <div class="inline-item">
          <div class="wrapper">
            <input type="time" [(ngModel)]="time">
          </div>
        </div>
      </li>
    }
  </ul>
</app-container>
