:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  li {
    margin-left: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-interaction);
    }

    input, textarea {
      width: 100%;
      margin-block: 14px;
      margin-right: 14px;
    }
  }

  .delete {
    button {
      color: #FF3B30;
    }

    &:hover {
      cursor: pointer;

      button {
        opacity: 0.5;
      }
    }
  }
}
