@if(isNewReminder()) {
  <app-header title="Details"
              leftButtonText="Neue Erinnerung"
              [showArrowLeft]="true"
              (onLeftButton)="navigateBack()"
              rightButtonText="Hinzufügen"
              (onRightButton)="add()"
              [isRightButtonDisabled]="!reminder.title || !reminder.associatedList"></app-header>
} @else {
  <app-header title="Details"
              leftButtonText="Abbrechen"
              (onLeftButton)="navigateBack()"
              rightButtonText="Fertig"
              (onRightButton)="applyChanges()"></app-header>
}
@if(!isNewReminder()) {
  <app-container>
    <ul>
      <li>
        <input type="text" [(ngModel)]="reminder.title" placeholder="Titel">
      </li>
      <li>
        <textarea [(ngModel)]="reminder.notes" placeholder="Notizen"
                  rows="4"></textarea>
      </li>
    </ul>
  </app-container>
}
<app-date-selector [(selectedDate)]="reminder.date"></app-date-selector>
<app-container>
  <app-inline-toggle title="Markieren"
                     [icon]="highlightToggleIcon"
                     [(status)]="reminder.highlighted"></app-inline-toggle>
</app-container>
@if(!isNewReminder()) {
  <app-container>
    <div class="inline-item delete" (click)="delete()">
      <div class="wrapper">
        <button>Erinnerung löschen</button>
      </div>
    </div>
  </app-container>
}
