<app-header title="Details" leftButtonText="< Neue Erinnerung"
            (onLeftButton)="applyChanges()"
            rightButtonText="Hinzufügen"></app-header>
<app-container>
  <app-inline-toggle title="Datum"
                     [icon]="dateToggleIcon"
                     [(status)]="selectDateActive"></app-inline-toggle>
  @if (selectDateActive) {
    <input type="date" [ngModel]="selectedDate()"
           (ngModelChange)="selectedDate.set($event)">
  }
</app-container>
<app-container>
  <app-inline-toggle title="Markieren"
                     [icon]="highlightToggleIcon"
                     [(status)]="reminder.highlighted"></app-inline-toggle>
</app-container>
