:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    app-container {
      color: var(--color-font);
      font-weight: bold;
    }
  }
}
