:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  app-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .icon-preview app-icon {
    width: 100px;
  }

  input {
    width: 100%;
    padding-block: 12px;
    border-radius: 8px;
    background-color: var(--color-interaction);
    text-align: center;
    font-family: 'SF Pro Rounded', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
