:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .base-settings {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .icon-preview {
      aspect-ratio: 1/1;
      padding: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--new-list-color);

      app-icon {
        width: 60px;
      }
    }

    input {
      width: 100%;
      padding-block: 16px;
      border-radius: 8px;
      background-color: var(--color-interaction);
      color: var(--new-list-color);
      text-align: center;
      font-family: 'SF Pro Rounded', sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }

  .color-picker {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 12px;

    .color-option {
      padding: 3px;
      aspect-ratio: 1/1;
      border-radius: 50%;

      .inner {
        display: block;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.selected {
        border: 3px solid var(--color-interaction-contrast);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
