<app-header title="Neue Liste"
            leftButtonText="Abbrechen"
            (onLeftButton)="router.navigateByUrl('/')"
            rightButtonText="Fertig"
            (onRightButton)="add()"></app-header>
<app-container class="base-settings">
  <app-icon [data]="iconPreview()"></app-icon>
  <input type="text" [(ngModel)]="title" placeholder="Name der Liste">
</app-container>
<app-color-selection (selected)="color.set($event)"></app-color-selection>
<app-icon-selection (selected)="icon.set($event)"></app-icon-selection>
