:host {
  display: flex;
  color: var(--color-interaction-contrast);

  input {
    background-color: transparent;
    flex-grow: 1;
  }

  app-container {
    background-color: var(--color-interaction);
    padding: 10px;
  }
}
