:host {
  .inline-item {
    align-items: start;
    margin-top: 14px;

    .wrapper {
      padding-top: 2px;

      .timing.isDue {
        color: #FF3B30;
      }
    }
  }

  input {
    margin: 0;
  }

  .info-button {
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  .toggle {
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--color-interaction);

    .inner {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    &.checked {
      border-color: var(--checked-color);

      .inner {
        background-color: var(--checked-color);
      }
    }
  }
}
