<div class="inline-item">
  <button class="toggle" [class.checked]="toggled()" (click)="toggle()">
    <span class="inner"></span>
  </button>
  <div class="wrapper">
    <div class="left">
      <span class="title">{{ reminder().title }}</span>

      @if (reminder().notes) {
        <span class="notes">{{ reminder().notes }}</span>
      }
    </div>
    <div class="right">
      @if (reminder().highlighted) {
        <app-icon [data]="highlightIcon" [size]="36"></app-icon>
      }
    </div>
  </div>
</div>
