<div class="inline-item">
  <button class="toggle" [class.checked]="toggled()" (click)="toggle()">
    <span class="inner"></span>
  </button>
  <div class="wrapper">
    <div class="left">
      <span class="title">{{ reminder().title }}</span>

      @if (reminder().notes) {
        <span class="notes">{{ reminder().notes }}</span>
      }
    </div>
    <div class="right">
      <!--     @if (item().subtitle) { -->
      <!--       <span class="subtitle">{{ item().subtitle }}</span> -->
      <!--     } -->
      <!--     @if (item().hasArrow) { -->
      <!--       <app-icon [data]="{ type: IconType.CHEVRON_RIGHT }" -->
      <!--                 class="arrow"></app-icon> -->
      <!--     } -->
    </div>
  </div>
</div>
