<div class="inline-item">
  <button class="toggle" [class.checked]="toggled()" (click)="toggle()">
    <span class="inner"></span>
  </button>
  <div class="wrapper">
    <div class="left">
      <span class="title">{{ reminder().title }}</span>
    </div>
    <div class="right">
      @if (reminder().highlighted) {
        <app-icon class="flag" [data]="highlightIcon" [size]="36"></app-icon>
      }
    </div>
    @if (reminder().notes) {
      <span class="notes">{{ reminder().notes }}</span>
    }
    @if (reminder().date) {
      <div class="timing">
        <span>{{
            reminder().date?.toLocaleDateString([], {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit',
              hour: '2-digit',
              minute: '2-digit'
            })
          }}</span>
      </div>
    }
  </div>
</div>
