@font-face {
  font-family: 'SF Pro';
  src: local('SF Pro'),
  url('/assets/fonts/SF-Pro.woff2') format('woff2'),
  url('/assets/fonts/SF-Pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'),
  url('/assets/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'),
  url('/assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'),
  url('/assets/fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'),
  url('/assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: local('SF Pro Rounded'),
  url('/assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #007AFF;
  --color-green: #34C85A;
  --color-background: #F2F2F7;
  --color-background-dark: #E9E9EB;
  --color-interaction: #E3E3E8;
  --color-interaction-contrast: #7F7F85;
  --color-font: #8A8A8E;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  background-color: var(--color-background);
  color: var(--color-black);
  font-family: 'SF Pro Rounded', sans-serif;
}

h2 {
  font-family: 'SF-Pro', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
}

textarea {
  resize: none;
  overflow-y: scroll;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-blue);

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.inline-item {
  display: flex;
  padding-top: 14px;

  app-icon {
    margin-left: 10px;
  }

  .wrapper {
    flex-grow: 1;
    padding: 2px 14px 14px 0;
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 4px;

      //TODO: obere linie aligned, untere linie mit notizen getrennt
      .notes {
        font-size: 0.9rem;
        color: var(--color-font);
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8px;

      .subtitle {
        color: var(--color-font);
      }

      .arrow {
        color: #7F7F85;
      }
    }
  }

  &:has(.arrow):hover {
    background-color: var(--color-interaction);
    cursor: pointer;
  }
}
