:host {
  width: calc(100% - 32px);
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--color-blue);

    &:hover {
      opacity: 0.5;
    }
  }

  .new-reminder {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;

    app-icon {
      width: 24px;
    }
  }
}
